body{
font-family: 'Open Sans', sans-serif;
}
header{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 20px;
    font-family: work sans;
    
}
nav li a{
    text-decoration: none;
}
.logo title{
    color: #FF3B94;
}

    
